    </div>
    <script type="text/javascript">
        function sendData(method, endpoint, data, redirection=null) {
            const xhr = new XMLHttpRequest();
            xhr.open(method, endpoint, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                if(redirection) {
                    location.replace(`${location.origin}${redirection}`);
                }
            }
            }
            xhr.send(data);
        }

        function addNewTask() {
            const task = document.getElementById("taskInput");
            const data = `task=${task.value}`;
            sendData("POST", "/add", data, "/checklist");
        }

        function allDone() {
            sendData("PUT", "/all-done", null, "/checklist");
        }

        function markDone(button) {
            const id = button.getAttribute("dataId");
            const data = `id=${id}`;
            sendData("PUT", "/task-done", data, "/checklist");
        }

        function deleteTask(button) {
            const id = button.getAttribute("dataId");
            const data = `id=${id}`;
            sendData("DELETE", "/delete", data, "/checklist");
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>